body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Akshar', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.836);
}

.text-uppercase:hover {
  transition: all 1s;
  transform: scale3d(1.1);
}

.btn {
  font-weight: 300;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-danger:hover {
  transition: all 1s;
  transform: scale(1.1);
  background-color: #d6262680;
}

.container {
  display: flex;
  justify-content: center;
}

.buffer {
  height: 16rem;
}